/* autoprefixer grid: autoplace */
.current-player-container {
    display: grid;
    grid-template-columns: 65% auto;
    
}

.play-area-container {
}
.card-area-container {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
}

.deck-pile-section {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: end;
}