/* autoprefixer grid: autoplace */
.play-area-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}
.current-player-container {
    display: grid;
    grid-template-columns: 65% auto;
    
}

.opposing-player-container {
    display: grid;
    grid-template-columns: 65% auto;
    
}

.player-resource-area {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
}

.deck-pile-section {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: end;
}

.active-card-area {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.played-card-area {
    display: grid;
    grid-template-columns: 70% auto;
}